@gmhlab:registry=https://registry.figma.com/npm/d50a24a9-a7ba-49df-8e9c-faabb1ad3820/registry/

//registry.figma.com/npm/d50a24a9-a7ba-49df-8e9c-faabb1ad3820/registry/:_authToken=figp_HD361RfTgQCMj2edNUdMnPrtUAKL7eWBWsMK9Hn5
